footer(role='contentinfo')
  .container
    p Twitter is a registered trademark of Twitter Inc. This project is just for educational purpose only.
    p
      | Built by &nbsp;
      a(href='https://getupcloud.com/', target='_blank') Getup Cloud
      |    | Read our &nbsp;
      a(href='https://blog.getupcloud.com/', target='_blank') Blog
      |  for Kubernetes news
    |
    - if (version)
      p Version
        |  #{version}
      
